<footer transition:persist>
  <div>
    <p>
      Made by Ivan. Website source code on <a
        href=""
        style="color: var(--blue-600);">GitHub</a
      >.
    </p>
  </div>
  <div class="media__footer">
    <ul>
      <li>
        <a href="https://github.com/Iv44n" target="_blank" rel="noreferrer"
          ><i class="ri-github-fill icons"></i></a
        >
      </li>
      <li>
        <a href="#" target="_blank" rel="noreferrer"
          ><i class="ri-linkedin-box-fill icons"></i></a
        >
      </li>
      <li>
        <a
          href="https://instagram.com/atm.iv4n?igshid=OGQ5ZDc2ODk2ZA=="
          target="_blank"
          rel="noreferrer"><i class="ri-instagram-fill icons"></i></a
        >
      </li>
      <li>
        <a href="https://wa.me/51921853713" target="_blank" rel="noreferrer"
          ><i class="ri-whatsapp-fill icons"></i></a
        >
      </li>
    </ul>
  </div>
</footer>

<style>
  footer {
    width: 100%;
    padding: 4rem 13%;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .media__footer ul {
    display: flex;
    gap: 1.2rem;
    flex-wrap: wrap;
  }

  @media (max-width: 868px) {
    footer {
      padding: 4rem 7%;
    }
  }
</style>
